#form{
    background-color: rgb(173, 199, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#mytable{
    border: solid 1px black;
    background-color: brown;
}
.rowbox{
    background-color: blue;
}
.data{
    border: solid 1px black;
    color: white;
}